* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}
img {
	vertical-align: top;
}
a {
	text-decoration: none;
}
ul,
ol {
	list-style: none;
}
@font-face {
	font-family: "New York";
	src: url(../fonts/newyork/NewYork.otf);
}
@font-face {
	font-family: SF;
	src: url(../fonts/SF/SFUIDisplay-Regular.eot) format("embedded-opentype"),
	url(../fonts/SF/SFUIDisplay-Regular.ttf) format("truetype"),
	url(../fonts/SF/SFUIDisplay-Regular.woff) format("woff"),
	url(../fonts/SF/SFUIDisplay-Regular.woff2) format("woff2");
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: SF;
	src: url(../fonts/SF/SFUIDisplay-Semibold.eot) format("embedded-opentype"),
	url(../fonts/SF/SFUIDisplay-Semibold.ttf) format("truetype"),
	url(../fonts/SF/SFUIDisplay-Semibold.woff) format("woff"),
	url(../fonts/SF/SFUIDisplay-Semibold.woff2) format("woff2");
	font-weight: 600;

}
@font-face {
	font-family: SF;
	src: url(../fonts/SF/SFUIText-Bold.eot) format("embedded-opentype"),
	url(../fonts/SF/SFUIText-Bold.ttf) format("truetype"),
	url(../fonts/SF/SFUIText-Bold.woff) format("woff"),
	url(../fonts/SF/SFUIText-Bold.woff2) format("woff2");
	font-weight: 700;

}
@font-face {
	font-family: SF;
	src: url(../fonts/SF/SFUIText-Light.eot) format("embedded-opentype"),
	url(../fonts/SF/SFUIText-Light.ttf) format("truetype"),
	url(../fonts/SF/SFUIText-Light.woff) format("woff"),
	url(../fonts/SF/SFUIText-Light.woff2) format("woff2");
	font-weight: 300;

}

