* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}
img {
	vertical-align: top;
}
a,
a:visited {
	color: #000;
	text-decoration: none;
}
button {
	background:none;
	border: none;
}

.main__title {
	font-family: Playfair;
	font-weight: bold;
	font-size: 2.25rem;
	line-height: 139%;
	mix-blend-mode: normal;
}

.main__text {
	font-family: Mulish;
	font-weight: 300;
	font-size: 1.0625rem;
	line-height: 176%;
	color: #7D7987;
	mix-blend-mode: normal;
}

.wrapper {
	overflow: hidden;
	min-height: 100%;
}

.header {
	margin-bottom: 270px;
}

.container {
	margin: 0 auto;
	max-width: 1242px;
}

.header__body {
	padding-top: 35px;
}

.header__top {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 72px;
}

.header__logo {
	flex-basis: 50%;
	width: 41px;
	height: 41px;
	background-image: url(img/logo.svg);
	background-position: left center;
	background-repeat: no-repeat;
}

.header__nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 8px 0;
}

.header__list {
	display: flex;
	list-style: none;
	font-family: Inter;
}

.header__item {
	margin-right: 35px;
}

.header__item a {
	font-size: 1rem;
	line-height: 19px;
	color: #B8BECD;
	transition-duration: 0.1s;
}
.header__item a:hover {
	color: #000;
}

.header__buttons {
	display: flex;
}

.header__btn {
	font-family: Inter;
	font-weight: 500;
	font-size: 15px;
	line-height: 400%;
	mix-blend-mode: normal;
	border-radius: 8px;
}
.header__btn:first-child {
	padding: 0 46px;
	border: 1px solid #FB8F1D;
	color: #FB8F1D;
	margin-right: 18px;
}
.header__btn:last-child {
	padding: 0 36px;
	background-color: #FB8F1D;
	color:  #fff;
}

.header__bottom {
	display: flex;
	justify-content: space-between;
}

.header__finder {
	display: flex;
	flex-flow: column nowrap;
}

.header__title {
	max-width: 356px;
	font-family: Playfair;
	font-weight: bold;
	font-size: 64px;
	line-height: 125%;
	color: #202336;
	mix-blend-mode: normal;
	margin-bottom: 74px;
}

.header__form--title {
	font-family: Inter;
	font-weight: 600;
	font-size: 22px;
	line-height: 27px;
	color: #202336;
	position: relative;
	margin-bottom: 71px;
}
.header__form--title:after {
	content: '';
	display: block;
	width: 32px;
	height: 2px;
	background: #202336;
	border-radius: 4px;
	position: absolute;
	bottom: -21px;
	left: 0;
}
.header__form {
	max-width: 500px;
	display: flex;
	flex-flow: row wrap;
}

.header__select {
	display: flex;
	align-items: center;
	min-width: 220px;
	border: 0.8px solid #AFB0B9;
	border-radius: 6px;
	padding: 21px 20px 21px 31px;
	margin: 0px 30px 35px 0px;
	font-family: Inter;
	font-size: 15px;
	line-height: 213%;
	color: #4A4C53;
	mix-blend-mode: normal;
}

.header__select:last-child {
	margin: 0 0 0 0;
}

.header__form--btn {
	font-family: Mulish;
	font-weight: bold;
	font-size: 17px;
	line-height: 353%;
	color: #fff;
	padding: 0 60px;
	background-color: #FB8F1D;
	border-radius: 8px;
}

.header__background {
	width: 687px;
	height: 654px;
	background-image: url(img/thousand-01.svg);
	background-position: center;
	background-repeat: no-repeat;
}

.bg {
}

.main {
}

.main__btn {
	font-family: Inter;
	font-weight: bold;
	display: flex;
	align-items: center;
	mix-blend-mode: normal;
	font-size: 1rem;
	line-height: 375%;
	background-color: #FB8F1D;
	border-radius: 8px;
}

.main__btn:first-child {
	font-family: Mulish;
	font-size: 1.0625rem;
	line-height: 353%;
}

.main__body {
}

.main__section {
}

.section01 {
	display: flex;
	justify-content: space-between;
	margin-bottom: 262px;
}

.section01 .main__title {
	margin-bottom: 20px;
}

.section01 .main__text {
	margin-bottom: 33px;
}

.section01 .main__btn {
	color: white;
	max-width: 164px;
	display: flex;
	align-items: center;
	justify-content: center;
}


.section01__background {
	width: 659px;
	height: 534px;
	background-image: url(img/thousand-02.svg);
	background-position: center;
	background-repeat: no-repeat;
}

.section__bg {
}

.main__content {
	max-width: 481px;
}

.section02 {
	margin-bottom: 232px;
}

.section02__top {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 46px;
}

.main__subbtn {
	font-family: Inter;
	font-weight: 600;
	font-size: 17px;
	line-height: 353%;
	color: #FB8F1D !important;
	mix-blend-mode: normal;
}

.section02__bottom {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
}

.section02__card {
	width: 261px;
	height: 337px;
/*	margin-right: 25px;*/
	border-radius: 8px;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
}
.section02__card:first-child {
	background-image: url(img/deco-img-1.jpg);
}
.section02__card:nth-child(2) {
	background-image: url(img/deco-img-2.jpg);
}
.section02__card:nth-child(3) {
	background-image: url(img/deco-img-3.jpg);
}
.section02__card:last-child {
	background-image: url(img/deco-img-4.jpg);
	margin: 0;
}

.card {
}

.card__bg {
	position: absolute;
	bottom: 0;
	left: 0;
	background-color: #fff;
	padding: 11px 22px 0px 0px;
	border-radius: 0px 6px 0px 0px;
}

.card__text {
	font-family: Inter;
	font-weight: 600;
	font-size: 17px;
	line-height: 147%;
	color: #042521;
	mix-blend-mode: normal;
}

.card__subtext {
	font-family: Inter;
	font-weight: 600;
	font-size: 14px;
	line-height: 147%;
	color: #042521;
	mix-blend-mode: normal;
	color: gray;
}

.section03 {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-bottom: 248px;
}

.section03__content {
	max-width: 481px;
}
.section03 .main__title {
	margin-bottom: 20px;
}

.section03 .main__text {
	margin-bottom: 33px;
}

.section03 .main__btn {
	color: white;
	max-width: 164px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.section03__bg {
	width: 599px;
	height: 542px;
	margin-left: 49px;
	background-image: url(img/thousand-03.svg);
	background-repeat: no-repeat;
}

.section04 {
}

.section04__content {

}

.section04__avatar {
}

.section04__ctrl {
}

.section04__prev {
}

.section04__next {
}

.section05 {
}

.section05__top {
}

.section05__bottom {
}

.section05__card {
}

.section05__bg {
}

.main__subtitle {
}

.section05__text {
}

.section05__btn {
}

.footer {
}

.footer__body {
}

.footer__top {
}

.footer__copy {
}

.footer__logo {
}

.footer__text {
}

.footer__copyright {
}

.footer__lists {
}

.footer__list {
}

.footer__title {
}

.footer__menu {
}

.footer__item {
}

.footer__bottom {
}

.footer__link {
}



